<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../src/styles/globals.css"
        />
        <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>SAURS</h1>
            </header>
            <div class="container">
                <h1>
                    Welcome, <%=(JSON.stringify(name).replace(/['"]+/g, ''))%>
                </h1>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <button id="btn" class="change" onclick="changeTheme()">
                <img src="../src/img/switch.svg" alt="Change theme" />
            </button>
        </div>

        <script src="../src/styles/theme.js"></script>
    </body>
</html>
