@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: underline 1px #00ff00;
    color: rgb(0, 179, 27);
}

.dark-mode {
    background-color: rgb(45, 45, 45);
    color: white;
}
