.container {
    display: grid;
    place-items: center;
    height: calc(100vh - 50px);
}

header {
    display: grid;
    place-items: center;
    height: 50px;
}

h1 {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: fit-content;
}

label,
input,
button[type='submit'] {
    width: 100%;
}

button[type='submit'] {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}

button[type='submit']:hover {
    background-color: #00ff00;
}

input:active input:focus {
    border: 1px solid #00ff00;
    outline: 1px solid #00ff00;
}

#btn {
    background-color: transparent;
    border-top: 1px solid #00ff00;
    border-bottom: 1px solid #00ff00;
    border-left: none;
    border-right: 1px solid #00ff00;
    -webkit-box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px 5px 5px 2px;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
}

#btn:hover {
    background-color: #00ff00;
}

#btn img {
    width: 40px;
    height: 40px;
}

label {
    position: relative;
}

input {
    background-color: transparent;
    margin: 0.2rem auto;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.1);
}

.change {
    position: absolute;
    left: -3rem;
    top: 1rem;
    width: 6.25rem;
    height: 6.25rem;
}

.change:hover,
.change:focus,
.change:active {
    left: 0px;
}

#myBtn {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    cursor: pointer;
}
